body {
	background-color: #282828;
}
.middle {
	margin: auto;
	width: 60%;
	text-align: center;
}

.date {
	text-align: center;
	padding: 15px;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-size: xx-large;
	font-weight: bold;
	font-stretch: ultra-expanded;
	color: #968e8e;
}

.logo {
	text-align: right;
	padding: 1px;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-size: large;
	font-weight: normal;
	color: #968e8e;
}

hr {
	border-color: #968e8e;
}
